.main {
  padding: 32px;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  min-width: 1200px;
  min-height: 800px;
  position: relative;
}

.axis_area {
  display: grid;
  grid-template: 
    "....... ....... love    ....... ......." 50px
    "....... ....... ....... ....... ......." 1fr
    "bad     ....... ....... ....... good   " 50px
    "....... ....... ....... ....... ......." 1fr
    "....... ....... dislike ....... ......." 50px
    /50px    1fr     50px    1fr     50px;
  height: 100%;
}

.label {
  font-size: 50px;
}

.label_love {
  grid-area: love;
}

.label_good_at {
  grid-area: good;
}

.label_dislike {
  grid-area: dislike;
}

.label_bad_at {
  grid-area: bad;
}

.skill_area {
  position: absolute;
}