.main {
  padding: 16px;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  position: relative;
}

.axis_area {
  display: grid;
  grid-template: 
    "....... ....... love    love    love    ....... ......." 50px
    "....... ....... ....... vaxis   ....... ....... ......." 1fr
    "bad     ....... ....... vaxis   ....... ....... good   " 24.5px
    "bad     laxis   laxis   vaxis   raxis   raxis   good   " 1px
    "bad     ....... ....... vaxis   ....... ....... good   " 24.5px
    "....... ....... ....... vaxis   ....... ....... ......." 1fr
    "....... ....... dislike dislike dislike ....... ......." 50px
    /50px    1fr     24.5px  1px     24.5px  1fr     50px;
  height: 100%;
}

.axis {
  background-color: var(--color-axis);
  width: 100%;
  height: 100%;
}

.laxis {
  grid-area: laxis;
}

.raxis {
  grid-area: raxis;
}

.vaxis {
  grid-area: vaxis;
}

.label {
  font-size: 50px;
  line-height: 1;
}

.label_love {
  grid-area: love;
}

.label_good_at {
  grid-area: good;
}

.label_dislike {
  grid-area: dislike;
}

.label_bad_at {
  grid-area: bad;
}

.skill_area {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 100px 140px;
}

.skill_area_relative {
  position: relative;
  height: 100%;
  width: 100%;
}

.src_link {
  position: absolute;
  bottom: 16px;
  right: 16px;
}