.host {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 500ms;
}

.text_label {
  font-size: 18px;
  background-color: var(--color-badge);
  color: var(--color-on-badge);
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
  width: fit-content;
}